version: '3.8'

volumes:
  sqlite-data:
    driver: local

services:
  bot:
    container_name: bot-dev-helper
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    volumes:
      - sqlite-data:/app/bot_database.db
    environment:
      DISCORD_TOKEN: "SEU_TOKEN"
      URL_DB: "jdbc:sqlite:app/bot_database.db"